.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;

    &__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 100%;

        .faq__content{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
         
            .faq__single{
                &-top{
                    display: flex;
                    justify-content: space-between;
                    padding: 10px 5px;
                    cursor: pointer;
                    border-bottom: 1px solid rgba(68, 88, 88, 0.281);
                }

                &-content{
                    padding: 10px 0;
                }
            }
        }
    }
}

@media (min-width: 710px){
    .faq{
        &__wrapper{
            width: 50%; 
        }
    }
}