.single__product{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    border: 1px solid rgba(68, 88, 88, 0.37);

    .single__top{
        overflow: hidden;
        border: 1px solid rgba(68, 88, 88, 0.37);

        img {
            width: 100%;
            min-height: 400px;
            max-height: 400px;
            object-fit: cover;
            cursor: pointer;
            transition: .3s ease;

            &:hover {
                transform: scale(1.1);
                opacity: .9;
            }
        }
    }

    .single__info {
        padding: 5px;
     
        .single__info-title {
            display: inline;
            font-size: 1rem;
        }

        .info__bottom{
            display: flex;
            justify-content: space-between;
            align-items: center;
   
            &-price{
                font-size: 1.1rem
            }
    
            &-btn {
                outline: none;
                padding: 10px 20px;
                background-color: transparent;
                border: none;
                color: #fff;
                text-transform: uppercase;
                background-color: rgba(68, 88, 88, 0.37);
                transition: .3s ease;
                cursor: pointer;
    
                &:hover {
                    background-color: rgba(68, 88, 88, 0.527);
                }
            }
        }
    }
}

@media (min-width: 710px){
    .single__product{
        width: 312px;
    }
}